@model List<AspNetUsers>
    <h2>Add a new task to the To Do List!</h2>
    <style>
        #Description{
            height:100px;
            text-align:left;
        }
    </style>
    <form method="post">
        <label>Task Due Date</label>
        <br />
        <input type="date" name="AssignmentDueDate" required>
        <br />
        <input id="Description" type="text" name="AssignmentDescription" placeholder="Task Description" required/>
        <br />
        <label>Select assigned User:</label>
        <br />
        <select name="UserId" >
            <option value="" disabled>--Select a User to Assign to this Task--</option>

            @foreach (AspNetUsers user in Model)
            {
                <option value="@user.Id">@user.UserName</option>
            }
        </select>
        <input type="submit" />
    </form>