@using Microsoft.AspNetCore.Identity
@model List<AspNetUsers>
@inject UserManager<IdentityUser> UserManager
<h2>Add a new task to the To Do List!</h2>
<style>
    #Description {
        width: 500px;
        text-align: left;
    }
</style>
<form method="post">
    <label>Task Due Date: </label>
    <br />
    <input type="date" name="AssignmentDueDate" required autofocus>
    <br />
    <br />  
    <input id="Description" type="text" name="AssignmentDescription" placeholder="Task Description" required />
    <br />
    <br />  
    <label>Assigned User(You):</label>
    <br />
    @foreach (AspNetUsers users in Model.Where(x => x.UserName == User.Identity.Name))
    {
        <input type="text" name="AssignedUserName" value="@users.UserName" readonly />
    }
<br />  
<br />
    <input type="submit" name="Create"/>
</form>