@model Assignment
<form method="post" >
        <Label>Task Number</Label>
        <input type="text" name="AssignmentId" value="@Model.AssignmentId" placeholder="@Model.AssignmentId.ToString("d")" readonly />
        <br />
        <input id="Description" type="text" name="AssignmentDescription" placeholder="Task Description" value="@Model.AssignmentDescription" readonly/>
        <br />
        <label>Assigned User:</label>
        <input type="text" name="AssignedUserName" value="@Model.AssignedUserName" readonly />
        <p>Are you sure you wish to delete this? </p>
        <input type="submit"name="Delete" onclick="return confirm('Are you REALLY sure you want to delete this?')" />
        
</form>
<a asp-action="Index" asp-controller="CapstoneToDoList">
    <button>
        Cancel
    </button>
</a>