<p>
    <ul>
        <li>Lets list all the things you can do in the app here</li>
        <li>Like your Crud actions</li>
        <li><a href="/CapstoneToDoList/CreateAssignment">Create a new to do item</a></li>
        <li>Read all the to do items</li>
        <li>Update the to do items</li>
        <li>Delete the to Do items</li>
    </ul>
</p>