<p>
   
        
        <h3><a href="/CapstoneToDoList/CreateAssignment">Create a new to do item</a></h3>
        <h3><a href="/CapstoneToDoList/ViewAll">See all your assigned tasks here!</a></h3>
        <h3><a href="/CapstoneToDoList/ViewComplete">See all your complete assigned tasks here!</a></h3>
        <h3><a href="/CapstoneToDoList/ViewIncomplete">See all your incomplete assigned tasks here!</a></h3>
        <br />
        <br />
        
    <form asp-controller="CapstoneToDoList" asp-action="FilterByDate">
        <label>View all to do items between </label>
        <label>Start Date</label>
        <input type="date" name="startDate" required />
        <label>End Date</label>
        <input type="date" name="endDate" required />
        <input type="submit" value="Search" />

    </form>
</p>